.homeCardsContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

.mainContentDiv {
    text-align: center;
    margin-inline: 14rem;
    margin-block: 2rem;
}